@model IEnumerable<Thesoccerleague.Models.League>

@{
    ViewData["Title"] = "Soccer leagues";
}

<h1>Soccer leagues</h1>

<p>
    <a asp-action="Create">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                      
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueLogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=@item.LeagueLogo width="60" height="60">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueLogo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LeagueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LeagueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LeagueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
