@model IEnumerable<Thesoccerleague.Models.Team>

@{
    ViewData["Title"] = "Soccer teams";
}

<h1>Soccer teams</h1>

<p>
    <a asp-action="Create">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamFounded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=@item.TeamLogo width="40" height="40">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamFounded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.League.LeagueCountry)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
